*.DS_Store
*.sublime-project
*.sublime-workspace
.cache
.gitignore
.npmignore
.nvmrc
.nyc_output
.travis.yml
coverage
doc
dist
node_modules
package-lock.json
scripts
src/app
src/index.html
src/**/tests
